@import url('https://fonts.googleapis.com/css?family=Asap');

body {
  background: aliceblue;
  font-family: 'Asap', sans-serif !important;
}

.theme-default-content {
}

.theme-default-content img {
  display: block;
  margin: auto;
}

.home h4,
.theme-default-content h4 {
  margin: 0 !important;
  padding: 5px 0 !important;
  text-align: center;
}

.home h4 a,
.theme-default-content h4 a {
  font-weight: 600;
}
